*,html,bocy{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Lilita One', cursive;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("./images/bg.jpg") no-repeat center/cover;
}
.wrap{
    width: 300px;
    border: 1px solid white;
    border-radius: 4px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    background: darkslategray;
}
.sqare{
    width: 99px;
    height: 99px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}
.sqare:hover{
    background: rgba(255, 255, 255, .1)    
}

sqare img{
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.turn-text, .win-text{
    font-size: 30px;
    color: red;
    margin: 20px 0;
}

.restart-button{
    padding: 20px 35px;
    border-radius: 10x;
    font-size: 20px;
    cursor: pointer;
}